
*.pyc
*.ipynb
*.gz
input_data.py
tensorflow learning/fully_connected_feed.py
tensorflow learning/mnist.py
*.csv
*.pkl
HRmatch/词典/.RData
HRmatch/.Rhistory
HRmatch/5_5任务分配.py
HRmatch/5_5任务分配.py
*.txt
*.png
Recommendation/download/README
*.tar
*.model
HRmatch/词典/.Rhistory
HRmatch/词典/词典.rar
Recommendation/download/rmse.pl
Recommendation/notebook.tex
Recommendation/remark_matrix.npz
*.npz
tensorflow_learning/__pycache__/cifar10_train.py
*.meta
tensorflow_learning/cifar-10-batches-py/data_batch_5
tensorflow_learning/cifar-10-batches-py/data_batch_4
tensorflow_learning/cifar-10-batches-py/data_batch_3
tensorflow_learning/cifar-10-batches-py/data_batch_1
tensorflow_learning/cifar-10-batches-py/data_batch_1
tensorflow_learning/cifar-10-batches-py/readme.html
tensorflow_learning/cifar-10-batches-py/test_batch
tensorflow_learning/cifar-10-batches-py/data_batch_2
tensorflow_learning/cifar/cifar10.py
tensorflow_learning/cifar/cifar10.py
tensorflow_learning/cifar/cifar10_eval.py
tensorflow_learning/cifar/cifar10_input.py
tensorflow_learning/cifar/cifar10_train.py
tensorflow_learning/fully_connected_feed.py
*.LAPTOP-UBFJ42AL
tensorflow_learning/mnist.py
*.data-00000-of-00001
*.index
tensorflow_learning/my_net/checkpoint
tensorflow_learning/tensorflow_conve_unfinished.py
